
header a {
    color: #5a5a5a;
}

header {
  height: 70px;
}

/* --- WRAPPER --- */

.wrapper {
    display: flex;
    flex-direction: column;
}

/* --- UP CONTENT --- */

.up-content {
    flex: 1 1 auto;
    background-color: grey;
    overflow: auto;
    display: flex;
    height: calc(100vh - 70px);
}

/* --- SIDEBAR --- */

.sidebar {
    background-color: black;
    flex: 0 0 250px;
    padding-bottom: 16px;
}


/* --- MAIN --- */

main {
    background-color: #24282c;
    flex: 1 1 auto;
    overflow: ; 
}




/* MAIN -->  my-head section */

#my-head-section {
    background-color: rgb(63, 113, 250);
    height: 130px; 
    width: 100%;
    color: white;
}


.badge-head-sec .my-txt-size {
    font-size: 14px;
    font-weight: 400;
}


.my-bg-dark-bdg {
    background-color: rgb(4 95 173);
    border-radius: 12px;
}








/* --- ******* RESPONSIVE MOBILE *********--- */

@media (max-width: 576px) {


    /* --- LIST NONE HEADER --- */

    .my-h-d-n {
       display: none;
    }

    /* ---SIDEBAR  --- */

    .sidebar {
        flex-basis: 16%;
    }
}